name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-package:
    name: "Test Package"
    runs-on: macos-15
    strategy:
      fail-fast: false
      matrix:
        xcode:
          - '16.4' # Swift 6.1
          - '26.1.1' # Swift 6.2
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
        with:
          xcode: ${{ matrix.xcode }}
      - name: Build Package
        run: bundle exec rake test:package:github_actions

  build-example:
    name: "Build Example App"
    runs-on: macos-15
    strategy:
      fail-fast: false
      matrix:
        xcode:
          - '16.4' # Swift 6.1
          - '26.1.1' # Swift 6.2
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
        with:
          xcode: ${{ matrix.xcode }}
      - name: Build Example
        run: bundle exec rake build:example:github_actions
