name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-package-excluding-visionOS:
    name: "Test Package"
    runs-on: macos-13
    strategy:
      fail-fast: false
      matrix:
        xcode:
        - '14.2' # Swift 5.7
        - '14.3' # Swift 5.8
        - '15.0' # Swift 5.9
        - '15.1' # Swift 5.9
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
        with:
          xcode: ${{ matrix.xcode }}
      - name: Build Package
        run: SKIP_VISION_OS=true bundle exec rake test:package:all

  test-package-macos-13:
    name: "Test Package"
    runs-on: macos-14
    strategy:
      fail-fast: false
      matrix:
        xcode:
        - '15.2' # Swift 5.9, first version with visionOS support
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
        with:
          xcode: ${{ matrix.xcode }}
      - name: Build Package
        run: bundle exec rake test:package:all

  build-example-excluding-visionOS:
    name: "Build Example App"
    runs-on: macos-13
    strategy:
      fail-fast: false
      matrix:
        xcode:
        - '14.2' # Swift 5.7
        - '14.3' # Swift 5.8
        - '15.0' # Swift 5.9
        - '15.1' # Swift 5.9
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
        with:
          xcode: ${{ matrix.xcode }}
      - name: Build Example
        run: SKIP_VISION_OS=true bundle exec rake build:example:github_actions

  build-example-macos-13:
    name: "Build Example App"
    runs-on: macos-14
    strategy:
      fail-fast: false
      matrix:
        xcode:
        - '15.2' # Swift 5.9, first version with visionOS support
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
        with:
          xcode: ${{ matrix.xcode }}
      - name: Build Example
        run: bundle exec rake build:example:github_actions
