name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test-package:
    name: "Test Package"
    runs-on: macos-12
    strategy:
      fail-fast: false
      matrix:
        xcode:
        - '13.2.1' # Swift 5.5
        - '13.4.1' # Swift 5.6
        - '14.0.1' # Swift 5.7
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
        with:
          xcode: ${{ matrix.xcode }}
      - name: Build Package
        run: bundle exec rake test:package:all

  build-example:
    name: "Build Example App"
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
      - name: Build Example
        run: bundle exec rake build:example:all